@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

body{
    font-family: Poppins,Lato;
}

*{
    margin: 0;
}

.header{
    display:grid;
    grid-template-columns: 40% 60%;
    padding:0px 0px 0px 110px;
    width: 100%;
    height:116px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
}

.logo{
    padding: 12px 0px 12px;
}

.navbar{
    padding-right:110px; 
    display: block; 
   
}
#contact{
    position: relative;
    right: 0px;
    text-align: end;
    right:110px;
    padding-top:16px;
    font-family:Lato;
    font-size: 12px;
    color: #8D8D8D;  
   
}

#menu{
    display: flex;
    justify-content: space-between;
    padding-top:35px;
    color:#000000;
    font-weight: bold;
    list-style-type: none;
    position: relative;
    left:-110px;
    
}

#menu a{
    font-family: Poppins;
    font-weight: 600;
    font-size:16px;
    color:#000000;
    text-decoration: none;
}

.banner{
    max-width:100%;
    background-image: url("../images/banner_bg.png");
    background-position: center;
    background-size: cover;
    height:652px;
    width:100%;
    text-align: center;
    padding-top:253px;
}

.info1{
    font-size: 80px ;
    padding-top: 137px;
}

.info2{
    font-size: 52px ;
}

.info3{
    font-size: 30px ;
    padding-top: 30px;
}


.info1, .info2, .info3{
    font-weight: bold;
    font-style: Poppins;
    color: #292929;
    display: block;
    
}

.content{
    display:grid;
    grid-template-columns: 50% 50%;
    height:542px;    
}

.content-info{
    padding:100px 0px 0px 110px ;
}

.text1{
    font-family: Poppins ;
    font-weight: bold;
    font-size: 24px;
}

.text1-many{
    color:#0872BA;
}

.text2{
    margin-top:41px;
}

.text3{
    margin-top:31px;  
}

.text2, .text3{
    font-family: Lato ;
    font-weight: normal;
    font-size: 16px;
    color: #636363;

}

.content-bg{
    background-image: url("../images/logo_symbol.png");
    background-repeat: no-repeat;
    padding-left: 230px;  
    background-position:center;
    height:542px;
}

.content-img{
    margin-top:51px;
    height:490px;
}

.main{
    overflow-x: hidden;
}

.middle-banner{
    background-image:linear-gradient(rgba(76, 121, 205,0.5),rgba(76, 121, 205,0.5)),url("../images/middle_banner.png");
    max-width: 100%;
    height:263px;
    padding-top:99px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.middle-info{
    font-family: Poppins ;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
}

.middle-btn{
    background-color:#F79421;
    width: 288px;
    height: 56px;
    padding:0px 55px 0px 55px;
    font-family: Poppins ;
    font-weight: bold;
    font-size: 20px;
    margin-top:46px;
    border: none;
    color: #FFFFFF;
}

.service{
    padding-top:100px;
}

.service-info{
    text-align:center;
}

.service-info-a{
    font-family: Poppins ;
    font-weight: bold;
    font-size: 36px;
}

.service-info-b{
    font-family: Lato ;
    font-weight: normal;
    font-size: 20px;

}

.service-info-a, .service-info-b{
    color: #292929;
    display: block;
    
}

.service-list{
    display: flex;
    justify-content: space-evenly;
    padding-top:81px;
}

.service-item{
    text-align: center;
}

.service-name{
    font-family: Poppins ;
    font-weight: 600;
    font-size: 14px;
    padding-top:23px;
    color: #143763;
    display: block;
}

.service-name::after{
    border:1px solid #F79421;
    width:52px;
    height: 0px;
    margin-left:auto;
    margin-right: auto;
    margin-top:15px;
    display: block;
    content:"";
}

.service-description{
    margin-top: 16px;
    font-family: Lato ;
    font-weight: normal;
    font-size: 14px;
    color: #636363;
    text-align: center;
}

.buisness-client{
    background-image: url("../images/figures_bg.png");
    max-width: 100%;
    height:446px;
    margin-top: 100px;
}

.buisness-info{
    text-align:center;
    padding-top:100px;
    color:#FFFFFF;
    font-family: Poppins ;
    font-weight: 300;
    font-size: 30px;
}

.buisness-list{
    padding-top: 46px;
    display:flex;
    justify-content: space-evenly;
    color:white;    
}

.buisness-item-a{
    font-family: Poppins ;
    font-weight: normal;
    font-size: 59px;
}

.buisness-item-b{
    font-family: Lato ;
    font-weight: bold;
    font-size: 20px;

}

.buisness-item-a, .buisness-item-b{
    color: #FFFFFF;
    display: block;

}

.buisness-details{
    display:grid;
    grid-template-columns: 50% 50%;
    position: relative;
    height:458px;

}

.details-item{
    background-image: linear-gradient(rgba(	8, 114, 186,0.5), rgba(	8, 114, 186,0.5)), url("../images/business.png");
    background-size: cover;
}

.details-item-a{
    padding-left:222px;
    padding-top:189px;
    font-family: Lato ;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.details-text1{
    padding-left:45px;
    display: block;
}

.video-link{
    padding-top:18px;
    padding-left:372px;
    font-family: Poppins ;
    font-weight: bold;
    font-size: 22px;
    display: block;
    color: #FFFFFF;
    
}

.buisness1-info2{
    background-color: #E6E6E6;
}

.details-logo{
    padding-top:44px;
    padding-left: 257px;
}

.details-item1-a{
    padding:19px 0px 0px 112px;
    color: #143763;
    font-family: Lato ;
    font-weight: normal;
    font-size: 16px;
}

.details-text3{
    padding-left:45px;

}

.details-link{
    padding-top: 18px;
    padding-left: 282px;
    font-family: Poppins ;
    font-weight: bold;
    font-size: 22px;
    display: block;
    color:#143763;
}

.details-card{
    position: absolute;
    top:341px;
    background:linear-gradient(rgba(169,169,169,0.5), rgba(169,169,169,0.5));
    margin-left: 110px;
    margin-right:110px;
    height:97px;
    width:87%;
}

.card1{
    position: relative;
    left:24px;
}

.card1-info1{
   
    top:16px;
    font-family: Poppins ;
    font-weight: 600;
    font-size: 26px;
  
}

.card1-info2{
   
    top:56px;
    font-family: Lato ;
    font-weight: normal;
    font-size: 18px;
   
}

.card1-info1, .card1-info2{
    position: absolute;
    color: #FFFFFF;
    display: block;
}

.card2{    
    position: relative;
}

.card2-info1{    
    top:16px;
    font-family: Poppins ;
    font-weight: 600;
    font-size: 26px;

}

.card2-info2{
    top:56px;
    font-family: Lato ;
    font-weight: normal;
    font-size: 18px;
    color: #292929;
    display: block;
}

.card2-info1, .card2-info2{
    position: absolute;
    right: 24px;
    color: #292929;
    display: block;

}

.people{
    height:595px;
    max-width: 100%;
    background-image: linear-gradient(rgba(61, 61, 61, 0.9),rgba(61, 61, 61,0.9)), url("../images/logo_symbol.png");
    background-repeat: no-repeat;
}

.people-info{
    text-align: center;
}

.people-info-a{
    
    font-weight: 600;
    font-size: 36px;
   
    padding-top: 68px;
}

.people-info-b{
    
    font-weight: normal;
    font-size: 20px;
   
}

.people-info-a, .people-info-b{
    font-family: Poppins ;
    color: #FFFFFF;

}

.people-team{
    margin-top:74px;
    height:222px;
    max-width: 100%;
    background:linear-gradient(rgba(169,169,169,0.5), rgba(169,169,169,0.5));
    display:flex;
    padding-left:180px;
    padding-right:180px;
    padding-top:17px;
    justify-content: space-between;
}

.team{
    width:194px;
    height:195px;
    border-radius:50%;
}

.arrow{
    width:16px;
    height:12px;
    margin-top:93px;
    border: 1px solid #FFFCFC;
    padding:9px 7px 9px 7px;
}

.people-circle{
    display:flex;
    justify-content: center;
    padding-top: 65px;
}

.circle1{
    background-color: #ffffff;
}

.circle2{
    background-color:#686868;
}

.circle1, .circle2{
    width:14px;
    height:14px;
    border-radius: 50%;
    margin-right:5px;

}

.circle3{
    width:14px;
    height:14px;
    background-color:#686868;
    border-radius: 50%;
}

.message{
    max-width:100%;
    height:400px;
    padding-top:100px;
    background-color:#ffffff;
    position: relative;
    text-align: center;   
}

.message-text{
    text-align: center;
    font-family: Poppins ;
    font-weight: bold;
    font-size: 40px;
    color:#292929;
}

.input{
    padding-left: 110px;
    padding-right: 110px;
    text-align: center;
    display: block;
    margin-top:68px;
}

.message-input{
    display: inline-block;
    width:300px;
    height:48px;
    margin: 0;
    padding-left:15px;
}

.line{
    border: 1px solid #707070;;
    width:38px;
    height: 0px;
    display: inline-block;
    margin-left: -5px;
    margin-right:-5px;
}


.message-btn{
    background-color:#F79421;
    width: 288px;
    height: 56px;
    padding:16px 75px 18px 75px;
    margin-top:69px;
    font-family: Poppins ;
    font-weight: bold;
    font-size: 20px;
    color:#ffffff;   
    border: none; 
}

.footer-menu{
    max-width:100%;
    height:49px;
    color: #FFFFFF;
    background-color: #363636;
    font-family: Poppins ;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding:28px 291px 0px 291px;
    list-style-type: none;

}

.footer-menu a{
    color:#ffffff;
    text-decoration: none;
    
}

.footer-content{
    padding-top:50px;
    display:flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
    background:linear-gradient(rgba(54, 54, 54,1), rgba(54, 54, 54,1));
    color:#FFFFFF;
    height:268px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.f-service{
    color: #E9E9E9;
}

.f-service-info{
    color:#BEBEBE;  
}


.footer-service4, .footer-service1{
    z-index: 1;
}

.footer-bg1{
    background-image:linear-gradient(rgba(54, 54, 54,0.5), rgba(54, 54, 54,0.5)), url("../images/logo_symbol.png");
    position: absolute;
    right:0px;
    top:-90px;
    width:228px;
    height:268px;
    transform: rotate(-90deg);
    background-size: cover;
}

.footer-bg2{
    background-image:linear-gradient(rgba(54, 54, 54,0.5), rgba(54, 54, 54,0.5)), url("../images/logo_symbol.png");
    position: absolute;
    width:228px;
    height:268px;
    left:-23px;
    bottom:-90px;
    background-size: cover;
    transform: rotate(90deg);
}

.footer-copyright{
    background-color: black;
    height:77px;
    display: flex;
    max-width: 100%;
    padding-left: 110px;
    padding-right:110px;
    align-items: center;
    position: relative;
}

.copyright{
    justify-content: center;
    color:#ffffff;
}

.social-media-icon{
    display: flex;
    position: absolute;
    right:110px;
}
.fb{
    margin-right:10px;
}

.twitter{
    margin-right:10px;
}